.objectSelector {
  width: 12em;
  height: 2em;
  border: 1px black solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*align-items: center;*/
}

.labelId {
  font-size:.8em;
}

.inputNumber {
  width: 3em;
  height:.5em;
}